{% extends "base.html" %}

{% block content %}
    <div class = "content-section">
         <p style="text-align:left;"> <a href="home">back to home </a>  </p>
        <form  action=" " method="post">
                {{ form.hidden_tag() }}
                <fieldset class = "form-group">
                   <legend class ="border bottom mb-4"><center><b>Add Your Task</b></center> </legend>

                     <div class = "form-group">
                       <b>{{ form. title.label(class =" form-control-label")}}</b>
                       {{ form.title(class =" form-control  form-control-lg")}}
                      </div>

                      <div class = "form-group">
                        <b>{{ form.time.label(class =" form-control-label")}}</b>
                        <input type="datetime-local" placeholder="enter time">
                        <!-- {{ form. time(class =" form-control  form-control-lg")}} -->
                       </div>

                      <div class = "form-group">
                        <b>{{ form. details.label(class =" form-control-label")}}</b>
                        <br>
                         <textarea cols="70" rows="3"></textarea>
                        <!-- {{ form.details(class =" form-control  form-control-lg")}} -->
                      </div>
                      send a reminder:
                      <select>
				                      <options value = "YES">YES</options>
				                      <options value ="NO">NO</options>
                     </select>
                     <br>
                     <br>




                       <div class = "form-group">
                         <b>{{ form. submit(class =" btn btn-outline-info")}}</b>
                         &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp


                      </div>
                </fieldset>
        </form>

    </div>
{% endblock content %}
