<!-- shows the very first hoe page of the app -->

{% extends "layout.html" %}
{% block content %}
<div class="hero">

        <a href="signin"><b>SIGN IN<b></a>          &nbsp
<!-- <a href="home">home </a> <br> -->
<!-- <br><br> -->
<!-- </fieldset>
</forms> -->
       <!-- <h1>helllllllllooooooooooo!</h1> -->
      <h1 style ="font-family:Trattatello, fantasy;"><center><center>Welcome to Task organizer App</center></center></h1>

      <a href="signup"<em><center>SIGN UP TODAY</center> </em> </a> <br>

     <!-- </article> -->


     </div>

{% endblock content  %}
