{% extends "base.html" %}

{% block content %}


    <div class= "text-center">
         <h1> Add Task </h1>
        Add a new task item:
        <form action="/add" method="POST">
            {{form.hidden_tag()}}
            <p>
                Task Name: <input type="text" name = 'task_name'>

            </p>

            <p>
                 Description: <input type="text" name = 'description'>

            </p>

            <p>
                 Due Date: <input type="text" name = 'due_date'>

            </p>

            <p>{{form.submit()}}</p>

        </form>

    </div>

    <div>
        Added task(s) below:
        <ul>
            {% for task in tasks%}
            <li>
                {{task.task_name}}
                {{task.description}}
                {{task.due_date}}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}