{% extends "base.html"%}

{% block content %}

<div class="mx-auto1">
    <div class="navbar navbar-expand-md navbar-light bg-light">
        <h1 class="my-0 mr-md-auto font-weight-normal">Task Organizer</h1>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
        </nav>
    </div>
</div>

<p>
<div class= "text-center">
    <h2>Forgot Password? Enter the following information!</h2>
</div>
</p>

<div class="form_style">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{form.username.label}}<br>{{form.username(size=32, placeholder="Enter User Name")}}</p>
        <p>{{form.email.label}}<br>{{form.email(size=32, placeholder="Enter Email")}}</p>
        <p>{{form.submit()}}</p>
    </form>

    <button type=" button" name="home" class="button-home" onclick="window.location.href = '/home'; ">Go Home</button>
</div>

{% endblock%}