{% extends "base.html"%}
{% block content %}
<div class="mx-auto1">
    <div class="navbar navbar-expand-md navbar-light bg-light">
        <h1 class="my-0 mr-md-auto font-weight-normal">Task Organizer</h1>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="p-2 text-light" href="#">Features</a>
            <a class="p-2 text-dark" href="#">Enterprise</a>
            <a class="p-2 text-dark" href="#">Support</a>
            <a class="p-2 text-dark" href="/logout">Logout</a>
        </nav>
        <a class="btn btn-outline-primary" href="/register">Register</a>
    </div>
</div>
<body class="text-center">
<h1>Welcome {{current_user.username}}</h1>


<a class="btn btn-success" href="/add">Add Task</a>
<a class="btn btn-danger pull right" href="/remove">Remove Task</a>
<a class="btn btn-primary" href="/view"> View Task</a>

<!--<input> type="text" placeholder="enter task"><br>-->
<!--<a class="btn btn-outline-primary" href="/add">add task</a>-->


</body>
{% endblock %}