{% extends "base.html"%}
{% block content %}

<div class="mx-auto1">
    <div class="navbar navbar-expand-md navbar-light bg-light">
        <h1 class="my-0 mr-md-auto font-weight-normal">Task Organizer</h1>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="btn btn-outline-primary disabled" href="/logout">Logout</a>
            &nbsp;
            <a class="btn btn-outline-primary" href="/register">Register</a>
        </nav>
    </div>
</div>

<div class="mx-auto2">

    <body class="text-center">
        <h1>Sign Up</h1>
        <form class="form-signin" action="" method="post">
            {{ form.hidden_tag() }}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user fa-lg"></i></span>
                </div>
                <input type="text" class="form-control" name="first_name" placeholder="First Name" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user fa-lg"></i></span>
                </div>
                <input type="text" class="form-control" name="last_name" placeholder="Last Name" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user fa-lg"></i></span>
                </div>
                <input type="text" class="form-control" name="username" placeholder="User Name" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope fa-lg"></i></span>
                </div>
                <input type="text" class="form-control" name="email" placeholder="example@email.com" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-key fa-lg"></i></span>
                </div>
                <input class="form-control" type="password" name="password" placeholder="Password" aria-describedby="basic-addon1">
            </div>
            <p>{{form.submit(class="btn btn-lg btn-primary")}}</p>
        </form>
    </body>
</div>
{% endblock%}