{% extends "base.html"%}
{% block content %}

<div class="mx-auto1">
    <div class="navbar navbar-expand-md navbar-light bg-light">
        <h1 class="my-0 mr-md-auto font-weight-normal">Task Organizer</h1>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="btn btn-outline-primary" href="/register">Register</a>
            &nbsp;
        </nav>
    </div>
</div>


<body class="text-center">
    <div class="mx-auto">
        <h1> Welcome to Task Organizer! </h1>
        <hr>
        <a href="/login" class="btn btn-info" role="button"><b>Sign In</b></a>

    </div>
    </<body>
    {% endblock %}